* {
  color: #080710;
}
body {
  background-image: url(picjumbo.com_HNCK4005-1024x683.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
div {
  text-align: center;
  position: relative;
  top: 25%;
  margin: 10px;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
form * {
  font-family: ‘Poppins’, sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
::placeholder {
  color: #c5b7b7;
  text-align: center;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
